<h1>Name your Cocktail</h1>

<%= simple_form_for @cocktail, defaults: { input_html: { class: 'col-sm-6' } } do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, 'Submit new Cocktail', class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back to all Cocktails", cocktails_path, class: 'btn btn-primary my-2' %>
